process {
    withName: fastqc {
        cpus = 2
        memory = '2 GB'
        time = '1h'
    }

    withName: bwa_align {
        cpus = 4
        memory = '4 GB'
        time = '2h'
    }

    withName: samtools_sort {
        cpus = 2
        memory = '3 GB'
        time = '1h'
    }

    withName: gatk_varaint_calling {
        cpus = 4
        memory = '6 GB'
        time = '3h'
    }

    withName: vep_annotation {
        cpus = 4
        memory = '8 GB'
        time = '4h'
    }

    // Default settings
    cpus = 2
    memory = '2 GB'
    time = '1h'
    
    // Enable Docker
    container = 'yourdockerhubuser/your-image-name:latest'
    executor = 'local'
    errorStrategy = 'retry'
}

params {
    output_dir = './results'
}

docker {
    enabled = true
}

